@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: #151515;
  color: #ffffff;
}

::-webkit-scrollbar-track {
  background: #151515;
}

::-webkit-scrollbar {
  width: 12px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

:root {
  --primary-color: #f8049c;
  --secondary-color: #fdd54f;
  --tertiary-color: #00a8cc;
  --quaternary-color: #f8f8f8;
  --quinary-color: #f8049c;
  --senary-color: #fdd54f;
  --septenary-color: #00a8cc;
  --octonary-color: #f8f8f8;
  --nonary-color: #f8049c;
  --denary-color: #fdd54f;
}