
DATABASE_URL=YOUR_DATABASE_URL


CLIENTID=YOUR_INTRA_42_CLIENT_ID
CLIENTSECRET=YOUR_INTRA_42_CLIENT_SECRET



GOOGLE_CLIENT_ID="YOUR_GOOGLE_CLIENT_ID"
GOOGLE_CLIENT_SECRET="YOUR_GOOGLE_CLIENT_SECRET"


FRONTEND_URL=YOUR_FRONTEND_URL
NODE_ENV=DEVELOPMENT

JWT_SECRET=YOUR_VERY_LONG_AND_RANDOM_SECRET

PORT=5000
UPLOAD_BASE_URL=http://127.0.0.1:5000